
.bg-1{
	background:grey;
	color: lightblue;
} 
.bg-2{
	background: grey;
	color: black;
}
.bg-3{
	background: black;
	color:lightgrey;
}
.bg-4{background: grey;
	color: brown;

}
.bg-5{background: lightgrey;
	

}